* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 15px;
  background-color: #fefeff;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-header img {
  object-fit: cover;
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
}

.flex-header h5 {
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 120px;
}

.flex-header strong {
  font-weight: 500;
  font-size: 12px;
}

.flex-header i {
  font-size: 20px;
  margin-right: 10px;
}

.typewriter {
  margin-top: 95px;
}

.typewriter h1 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-top: 12px;
}

#text {
  display: inline-block;
  font-weight: 500;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 35px;
  animation: blink 1s step-end infinite;
  background-color: black;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  45% {
    background-color: black;
  }
}

.bio {
  margin-top: 30px;
  font-size: 15.5px;
  text-align: justify;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
}

.project {
  margin-top: 30px;
  align-items: center;
}

.project button,
.all-post button {
  text-decoration: none;
  border: none;
  background-color: #fefeff;
}

.project a,
.all-post a {
  text-decoration: none;
  font-size: 14px;
  color: #0ba4e8;
}

.project a:hover,
.all-post a:hover {
  color: rgba(104, 104, 104);
  text-decoration: underline 1px rgba(104, 104, 104, 0.6);
  text-underline-offset: 3px;
}

.recent-post {
  margin-top: 50px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog li {
  padding-left: 8px;
}

.blog li::marker {
  color: rgba(104, 104, 104, 0.3);
}

.row-line {
  border-top: 1px solid rgba(104, 104, 104, 0.2);
  margin-bottom: 13px;
  margin-top: 20px;
}

.blog a {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  line-height: 25px;
}

.blog h6 {
  font-size: 13px;
  color: rgba(104, 104, 104, 0.9);
  margin-top: 12px;
}

.all-post {
  margin-top: 5px;
  text-align: right;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.flex-footer {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.8);
}

.social-icons a {
  color: rgba(7, 60, 82, 0.7);
}

.social-icons i {
  margin-left: 12px;
}

.footer-end {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.8);
}
